@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --Dark-Blue-Element: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Background: hsl(207, 26%, 17%);
  --Dark-Blue-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Background: hsl(0, 0%, 98%);
  --White-Text-Element: hsl(0, 0%, 100%);
  --font-size-home: 14px;
  --font-size-detail: 16px;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
}
.App {
  max-height: 100vh;
}

#light {
  background-color: var(--Very-Light-Gray-Background);
}

#dark {
  background-color: var(--Very-Dark-Blue-Background);
}

#light .mode {
  color: var(--Dark-Blue-Text);
}

#dark .mode {
  color: var(--White-Text-Element);
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 5.1rem 1rem;
  box-shadow: 0 7px 6px -4px rgba(9, 9, 9, 0.27);
}
#dark nav {
  background-color: var(--Dark-Blue-Element);
}
#light nav {
  background-color: var(--White-Text-Element);
}
.top--title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.top--right {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
#light main {
  background-color: var(--Very-Light-Gray-Background);
}
#dark main {
  background-color: var(--Very-Dark-Blue-Background);
}
main {
  height: 100%;
  background-color: red;
  padding: 100px 50px 10px 50px;
}
.main--style {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
@media screen and (max-width: 1121px) {
  main {
    margin: 0 auto;
  }
  .main--style {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
  }
}
@media screen and (max-width: 867px) {
  .main--style {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 593px) {
  main {
    margin: 0 auto;
  }
  .main--style {
    grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 10px;
  width: 251px;
  cursor: pointer;
}
#dark .card {
  background-color: var(--Dark-Blue-Element);
  box-shadow: 0 7px 6px -4px var(--Dark-Blue-Text);
}
#light .card {
  background-color: var(--White-Text-Element);
  box-shadow: 0 0 3px 3px rgb(0 0 0/3%);
}
.card:hover {
  transform: translateX(1px) scale(1.1);
  transition: 0.3s;
}
.card--image {
  width: 250px;
  border-radius: 10px 10px 0 0;
  aspect-ratio: 3/2;
}
.card--title {
  font-weight: 800;
  font-size: 18px;
  padding-left: 10px;
}
.card--info {
  font-weight: 300;
  font-size: 14px;
  padding-left: 10px;
}
.card--info__subtitle {
  font-weight: 600;
}
.loading,
.empty {
  height: 100vh;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dark .loading,
#dark .empty {
  background-color: var(--Very-Dark-Blue-Background);
  color: var(--White-Text-Element);
}
#light .loading,
#light .empty {
  background-color: var(--Very-Light-Gray-Background);
  color: var(--Dark-Blue-Text);
}
.filter {
  margin: 20px 100px -40px 100px;
  display: flex;
  justify-content: space-between;
}
.search--input {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  border: 1px var(--Dark-Blue-Element);
  height: 44px;
  max-width: 70px;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.226);
  outline: none;
}
#dark .search--input {
  background-color: var(--Dark-Blue-Element);
  color: var(--White-Text-Element);
}
#light .search--input {
  background-color: var(--White-Text-Element);
  color: var(--Dark-Blue-Text);
}
@media screen and (max-width: 620px) {
  .filter {
    flex-direction: column;
  }
}
select {
  width: 200px;
  background-color: var(--Dark-Blue-Element);
  outline: none;
  border: none;
  height: 30px;
}
option {
  margin-top: 40px;
  border: none;
  outline: none;
}
/* @media screen and (max-width: 373px) {
  .top--title {
    font-size: medium;
  }
  .toggle {
    font-size: x-small;
    gap: 0.1rem;
  }
} */
@media screen and (max-width: 600px) {
  nav {
    padding: 2rem 0.5rem 1rem;
  }
}
